

#gameboard-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 30px;
}

#gameboard{
    display: grid;
    grid-template-columns: repeat(6, 120px); 
    grid-template-rows: repeat(5, 120px);  
    gap: 10px;
    background-color: #09120a7e;
    border:6px solid black; 
}

#cardboard{ 
    grid-template-columns: repeat(5, 120px); /* Adjust size for larger cards */
    grid-template-rows: repeat(5, 120px); /* Adjust rows for larger cards */
    gap: 10px; /* Add more spacing between cards */
}

#castleboard { 
    display:grid; 
    justify-content: center;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(1, 120px);
    gap:10px; 
}


.b-tiles{ 
    border: 2px solid black;
    width: 100%;  /* Takes full grid cell width */
    height: 100%; /* Takes full grid cell height */
    background-color: lightgray; /* Optional: Background color for tiles */
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-tiles{ 
    border: 2px solid black;
    width: 100%;  /* Takes full grid cell width */
    height: 100%; /* Takes full grid cell height */
    background-color: rgb(255, 0, 0); /* Optional: Background color for tiles */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-panel{
    
    display:flex; 
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:20px;
    
}
